* {box-sizing: border-box;}

body {
    margin: auto;
    align-items: center;
}

.topnav {
    display: flex;
    overflow: hidden;
    background-color: #e9e9e9;
    height: auto;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 2px 2px 2px gray;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 255, 0.5);
}

.profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container p:first-of-type {
    padding-left: 20px;
    font-size: 2cm;
}

.container p {
    padding-left: 20px;
    margin: 0;
}

#projects {
    margin-left: 10px;
    width: auto;
    height: 100vh;
}

.p-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.p-container div {
    display: flex;
    background-color: #e9e9e9;
    box-shadow: 2px 2px 2px gray;
    overflow: hidden;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
    min-width: 150px;
    width: 80%;
    height: auto;
}

.p-container i {
    margin-top: 15px;
    margin-right: 5px;
    color: #2196F3;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .container p {
        margin: auto;
        padding: auto;
    }
    .container p:first-of-type {
        padding-left: 20px;
        font-size: 1cm;
        font-weight: bold;
    }

    .p-container {
        display: flex;
        flex-direction: column;
    }

    .p-container div {
        width: 80%;
    }
}